  p{
                color: rgb(187, 255, 0);
            }
              
            #d1{
                background-color: aqua;
            }

            .blue{
                background-color: blue;
            }
           div:hover{
            background-color: brown;
           }

           a:visited{

            color: brown;
           }