body{
    background-color: aquamarine;
}
.guess-page {
  background-color: #0f7ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

h1 {
  color: #333;
}